{% extends 'base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class='col-sm-3'>
            <h1>Login</h1>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
            </div>
            <div class="mb-3">
                <label for="pw" class="form-label">Password</label>
                <input type="password" class="form-control" id="pw" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button><p></p>
            <strong><a href="/signup/">Register Here</a></strong>
        </div>
    </div>
</form>


{% endblock %}

